@model Garage2._0.Models.Vehicle

@{
    ViewBag.Title = "Checka Ut";
}

<h2>Checka Ut</h2>

<h3>Är du säker på att du vill checka ut fordonet ur garaget?</h3>
<div>
    <h4>Fordon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.TypeOfVehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfWheels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @*<input type="submit" value="Checka ut" class="btn btn-default" onclick="window.open('@Url.Action("Receipt", "Vehicles")/@Html.DisplayFor(model => model.Id)')" /> |*@
            @*<input type="submit" value="Checka ut" class="btn btn-default" onclick="show_popup('@Url.Action("Receipt", "Vehicles")/@Html.DisplayFor(model => model.Id)')" />*@ 
            <input type="submit" value="Checka ut" class="btn btn-default" onclick="popitup('@Url.Action("Receipt", "Vehicles")/@Html.DisplayFor(model => model.Id)');" /> 
            @*<input type="submit" value="Checka ut" class="btn btn-default" onclick="show_alert('@Url.Action("Receipt", "Vehicles")/@Html.DisplayFor(model => model.Id)')" /> |*@




            @Html.ActionLink("Tillbaka till garaget", "Index")
        </div>
    }
</div>
<script src="~/Scripts/Javascript.js"></script>